<html>
<body>
	<h1><%= title %></h1>
	<table border="2">
		<thead>
			<tr>
				<th>prodId</th>
				<th>prodTitle</th>
				<th>prodDesc</th>
				<th>prodPct</th>
				<th>prodVol</th>
				<th>prodVol</th>
				<th>prodImg</th>
				<th>category</th>
			</tr>
		</thead>
		<% products.forEach(function(product){ %>
			<tr>
				<td><%= product.prodId %></td>
				<td><%= product.prodTitle %></td>
				<td><%= product.prodDesc %></td>
				<td><%= product.prodPct %></td>
				<td><%= product.prodVol %></td>
				<td><%= product.prodPrice %></td>
				<td><%= product.prodImg %></td>
				<td><%= product.category %></td>
			</tr>
		<% }); %>
	</table>
</body>
</html>